/* primeiro form edition */
* {
    margin: 0;
    padding: 0;
}

input {
    display: flex;
    flex-direction: column;

}

.container-1 {
    margin-left: 10px;
    padding: 20px 25px 20px;
    border: 2px solid #000;
    border-radius: 15px;
    width: 250px;
    
}

form input {
    padding: 5px;
}

.button-edit {
    margin-top: 2px;
}


